@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #111317;
  --primary-color-light: #1f2125;
  --primary-color-extra-light: #35373b;
  --secondary-color: #f9ac54;
  --secondary-color-dark: #d79447;
  --text-light: #d1d5db;
  --white: #ffffff;
  --max-width: 1200px;
}
.workouts {
    background-color: var(--primary-color);
    color: #fff;
    padding: 2rem;
    text-align: center;
}

#workouts {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

#worksoutsp {
    font-size: 1.2rem;
    font-weight: 300;
}

main {
    flex: 1;
    padding: 2rem;
}

.workout-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.workout-card {
    background-color: var(--primary-color-light);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.workout-card:hover {
    transform: translateY(-5px);
}

.workout-card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--white);
}

.workout-card p {
    font-size: 1rem;
    color: #e4dede;
    margin-bottom: 1.5rem;
}

.btn {
    padding: 0.75rem 1.5rem;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #45a049;
}

@media (max-width: 768px) {
    .workout-card {
        width: 100%;
    }
}